<div>

    <hx-editor form-mode="html" name="editor" source="commentSource" extension="decHtml5AddCommentExtensionController">

        <hx-array-data-source name="prioritiesList" source="priorities"></hx-array-data-source>
        <hx-array-data-source name="orgPatientsList" source="orgPatients"></hx-array-data-source>

        <cgm-row>

            <div class="cgm-col-sm-12 cgm-col-md-8 cgm-col-lg-8">
                <cgm-search-field ng-if="createMode"
                                  span-5 required
                                  allow-clear="true"
                                  hx-data-source="orgPatientsList"
                                  id-field="id" label-field="name"
                                  ng-model="editor.data.patientField"
                                  cgm-label="{{'/cgm/g3/his/dec/decursusList.patient.label' | i18n}}"
                                  placeholder="{{'/cgm/g3/his/dec/decursusList.pleaseSelect.label' | i18n}}"></cgm-search-field>

                <div span-9 ng-if="editMode">
                    <span class="comment-dialog-patient-data">
                        <span ng-if="editor.data.patientField.episodeId && !commentData.decEpisodeId">
                            <span ng-bind="editor.data.patientField.episodeId"></span>
                        </span>
                        <span ng-if="commentData.decEpisodeId && episodeKey">
                            <span ng-bind="commentData.decEpisodeId"></span>
                        </span>
                        <span ng-if="commentData.episodeId && orgUnitId">
                            <span ng-bind="commentData.episodeId"></span>
                        </span>
                        <span ng-if="commentData.decEpisodeId && orgUnitId">
                            <span ng-bind="commentData.decEpisodeId"></span>
                        </span>
                        <span ng-if="commentData.patientName">
                            <span ng-bind="commentData.patientName"></span>
                        </span>
                        <span ng-if="!commentData.decId && !commentData.patientName">
                            <span ng-bind="patientData.patient.person.familyName"></span> ,
                            <span ng-bind="patientData.patient.person.givenName"></span>
                        </span>
                        <span ng-if="commentData.decId">
                            <span ng-bind="commentData.decPatientName"></span>
                        </span>
                    </span>

                    <div class="add-comment-edit-mode-author" ng-if="editFromTableContext">

                        <span ng-if="editFromTableContext" class="ico-outline-si-{{commentData.decShift.style}}shift"></span>
                        <span ng-if="!editFromTableContext" class="ico-outline-si-{{commentData.decShift.style}}shift"></span>

                        <span ng-bind="commentData.decTimeReal.date.date"></span>
                        <span ng-bind="commentData.decTimeReal.time.time"></span>
                        <span ng-bind="commentData.decAuthorFullName"></span>
                        (<span ng-bind="commentData.decAuthorRoleName"></span>)
                    </div>
                    <div class="add-comment-edit-mode-author" ng-if="!editFromTableContext">
                        <span class="ico-outline-si-{{commentData.decShift.style}}shift"></span>
                        <span ng-bind="commentData.decTimeReal.date"></span>
                        <span ng-bind="commentData.decTimeReal.time"></span>
                        <span ng-bind="commentData.decAuthorFullName"></span>
                        (<span ng-bind="commentData.decAuthorRoleName"></span>)
                    </div>
                </div>
            </div>

            <div class="cgm-col-sm-12 cgm-col-md-8 cgm-col-lg-8">
                <cgm-search-field span-5 required
                                  allow-clear="true"
                                  hx-data-source="prioritiesList"
                                  id-field="id" label-field="name"
                                  ng-model="editor.data.priority"
                                  cgm-label="{{'/cgm/g3/his/dec/decursusDetails.priority.label' | i18n}}"
                                  placeholder="{{'/cgm/g3/his/dec/decursusList.pleaseSelect.label' | i18n}}"></cgm-search-field>
            </div>

            <div class="cgm-col-sm-12 cgm-col-md-12 cgm-col-lg-12 dec-tiny-mce-container dec-clearfix"
                 ng-class="{'dec-tiny-mce-error': tinyMCEerror === true}">
                <div span-12 required ng-if="createMode || editMode"
                               hx-validate="validateCommentField"
                               ui-tinymce="tinymceOptions"
                               ng-model="editor.data.information"
                               cgm-label="{{'/cgm/g3/his/dec/decursusList.comment.label' | i18n}}">
                </div>
            </div>

        </cgm-row>


        <cgm-control-bar>
            <cgm-button default hx-command="editor.commands.save"></cgm-button>
            <cgm-button normal hx-command="editor.commands.discard">{{'/cgm/Button.cancel.label' | i18n}}</cgm-button>
        </cgm-control-bar>



    </hx-editor>

</div>
