$visibilitySettingsModalBackground: #ededed;

.dec-visibility-settings-modal {

  .dec-visibility-settings-modal-body {
    padding: 0 20px;

    h2 {
      margin-top: 0;
    }
    h3 {
      font-size: 0.88rem;
      color: #6f6f6f;
      text-align: center;
      font-weight: normal;
    }
    .ico-outline-pi-highest, .ico-outline-pi-high {
      margin-bottom: 8px;
      display: inline-block;
      vertical-align: middle;
      font-size: 120%;
      margin-left: 3px;
    }
    .vs-columns {
      display: table !important;
      box-sizing: border-box;
    }
    .vs-column {
      border-right: 1px #d3d3d3 solid;
      padding-right: 25px !important;
      float: none !important;
      display: table-cell !important;
      vertical-align: top !important;
    }
    .vs-column:last-child {
      border: none !important;
    }
    .vs-column:first-child {
      padding-left: 0 !important;
    }
    .groups-container {
      padding-left: 0 !important;
      max-height: 320px;
      overflow-x: auto;
    }

  }

 }