<div class="dec-html5-snippet">
    <div ng-if="params.previewMode || snippetContextMenu.permissions.view">
        <div ng-if="snippetLoading === true" class="snippet-loading"></div>
        <div ng-if="!snippetLoading && (cgmDecSnippetData.length === 0 || _.isEmpty(cgmDecSnippetData))">{{'/cgm/helix/controls/CgmTable.noData.label' | i18n}}</div>

        <div ng-if="params.orgUnitId && !params.episodeKey">
            <div ng-repeat="item in cgmDecSnippetData | orderBy: 'patientNameAndEpisodeId'">

                <h3 ng-click="item.isExpanded = !item.isExpanded"
                    ng-class="{'expanded' : item.isExpanded === true, 'collapsed' : item.isExpanded === false}">
                    {{item.decPatient}} ({{item.decEpisodeId}})</h3>

                <div class="dec-html5-snippet-container"
                     ng-class="{'opened' : item.isExpanded === true, 'closed' : item.isExpanded === false}">
                    <div class="dec-html5-snippet-row">
                        <div ng-repeat="comment in item.items | orderBy:'decTimeUnFormatted':true">
                            <dec-html5-snippet-comment-body comment="comment"></dec-html5-snippet-comment-body>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="!params.orgUnitId && params.episodeKey">
            <div class="dec-html5-snippet-container">
                <div class="dec-html5-snippet-row">
                    <div ng-repeat="comment in cgmDecSnippetData | orderBy:'decTimeUnFormatted':true track by $index">
                        <dec-html5-snippet-comment-body comment="comment"></dec-html5-snippet-comment-body>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!(params.previewMode || snippetContextMenu.permissions.view)">
        {{'/cgm/g3/his/pac/Permissions.header.label' | i18n }}
    </div>
</div>