<div id="decMainFeature" class="cgm-container cgm-wrapper scrollable">

    <dec-html5-table-toolbar></dec-html5-table-toolbar>

    <dec-html5-table></dec-html5-table>

    <!--<div style="max-width: 614px; margin: 0px auto;">-->
        <!--<div style="max-width: 614px; margin: 20px auto; max-height: 264px; overflow-x: hidden;">-->
            <!--<dec-html5-snippet params="snippetParamsMockConfig"></dec-html5-snippet>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div style="max-width: 614px; margin: 30px auto; max-height: 614px; overflow-x: hidden;">-->
        <!--<dec-html5-snippet params="snippetParamsMockConfig"></dec-html5-snippet>-->
    <!--</div>-->
    <!--<br><br>-->

    <!--<div style="max-width: 614px; margin: 0px auto;">-->
        <!--<div style="max-width: 614px; margin: 20px auto; max-height: 264px; overflow-x: hidden;">-->
            <!--<dec-html5-snippet params="snippetParamsMockConfig"></dec-html5-snippet>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div style="max-width: 614px; margin: 30px auto; max-height: 614px; overflow-x: hidden;">-->
        <!--<dec-html5-snippet params="snippetParamsMockConfig"></dec-html5-snippet>-->
    <!--</div>-->

    <!--<div style="max-width: 614px; margin: 30px auto; max-height: 614px; overflow-x: hidden;">
        <dec-html5-snippet params="snippetParamsMockConfig"></dec-html5-snippet>
    </div>-->

</div>
