<style>
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.cgm-dialog.hotkeys-blocker.cgm-dialog-small.ui-draggable {
        max-width: 90% !important;
        left: 3% !important;
        right: 3% !important;
    }
</style>
<div class="dec-visibility-settings-modal" ng-controller="visibilitySettingsController">
    <div class="dec-visibility-settings-modal-body">

        <hx-array-data-source name="rolesDataSource" source="rolesDataSourceData"></hx-array-data-source>
        <hx-array-data-source name="usersDataSource" source="usersDataSourceData"></hx-array-data-source>
        <hx-array-data-source name="groupsDataSource" source="groupsDataSourceData"></hx-array-data-source>
        <hx-array-data-source name="timePeriodDataSource" source="timePeriodDataSourceData"></hx-array-data-source>

        <div class="cgm-row vs-columns">
            <div ng-form="visibilitySettingsForm" >
            <!--<form role="form">-->
                <div class="cgm-col-md-3 vs-column">
                    <h3>{{'/cgm/g3/his/dec/decursusSettings.dateTime.label' | i18n}}</h3>

                    <cgm-row>

                        <cgm-radio-button-group span-12 ng-model="visibilitySettings.criteria.referenceDate">
                            <cgm-radio-button value="REGISTRATION_DATE"
                                              label="{{'/cgm/g3/his/dec/decursusSettings.registration.label' | i18n}}"
                                              checked>
                            </cgm-radio-button>
                            <cgm-radio-button value="ACTION_DATE"
                                              label="{{'/cgm/g3/his/dec/decursusSettings.realization.label' | i18n}}">
                            </cgm-radio-button>
                        </cgm-radio-button-group>
                    </cgm-row>
                    <cgm-row>
                        <cgm-search-field cgm-label="{{'/cgm/g3/his/epr/TimePeriodSetting.title.label' | i18n}}"
                                          span-12
                                          id="timePeriodDropDown"
                                          name="context"
                                          ng-model="visibilitySettingsTemp.timePeriodValue"
                                          hx-data-source="timePeriodDataSource"
                                          id-field="id"
                                          label-field="label"
                                          ng-readonly="validationOptions.context.disabled"
                                          required
                                          placeholder="{{'/cgm/g3/his/epr/DashboardAdministration.PleaseSelect.label' | i18n}}"
                                          cgm-mutable-mode
                                          ng-change="changeTimePeriod()">
                        </cgm-search-field>
                    </cgm-row>
                    <cgm-row>
                        <cgm-date-time-field span-12 cgm-label="{{'/cgm/g3/his/med/MedicationExecutionFilterFormFeature.startDateTime.label' | i18n}}" id="startDateTimeField"
                                             ng-model="visibilitySettings.criteria.dates.intervalStart"
                                             ng-disabled="visibilitySettingsTemp.dateDisabled"
                                             hx-validate="{source: dateEarlierThan, values: [$value, visibilitySettings.criteria.dates.intervalEnd]}"
                                             show-24-hours="{{ data.show24Hours }}"
                                             step="{{ data.step }}"
                                             page="{{ data.page }}"
                                             date-format="{{ data.dateFormat }}"
                                             ng-change="dateTimeChangedCallback()">
                        </cgm-date-time-field>
                    </cgm-row>
                    <cgm-row>
                        <cgm-date-time-field span-12 cgm-label="{{'/cgm/g3/his/med/MedicationExecutionFilterFormFeature.endDateTime.label' | i18n}}" id="endDateTimeField"
                                             ng-model="visibilitySettings.criteria.dates.intervalEnd"
                                             ng-disabled="visibilitySettingsTemp.dateDisabled"
                                             hx-validate="{source: dateLaterThan, values: [$value, visibilitySettings.criteria.dates.intervalStart]}"
                                             show-24-hours="{{ data.show24Hours }}"
                                             step="{{ data.step }}"
                                             page="{{ data.page }}"
                                             date-format="{{ data.dateFormat }}"
                                             ng-change="dateTimeChangedCallback()">
                        </cgm-date-time-field>
                    </cgm-row>
                </div>
                <div class="cgm-col-md-2 vs-column">
                    <h3>{{'/cgm/g3/his/dec/decursusSettings.userRole.label' | i18n}}</h3>
                    <cgm-row>
                        <cgm-search-field cgm-label="{{'/cgm/g3/his/dec/decursusSettings.user.label' | i18n}}" span-12
                                       id="userDropDown"
                                       name="context"
                                       ng-model="visibilitySettingsTemp.authorEmployeeId"
                                       hx-data-source="usersDataSource"
                                       id-field="id" label-field="label"
                                       ng-readonly="validationOptions.context.disabled"
                                       allow-clear="true"
                                       placeholder="{{'/cgm/g3/his/epr/DashboardAdministration.PleaseSelect.label' | i18n}}"
                                       cgm-mutable-mode>
                        </cgm-search-field>
                    </cgm-row>
                    <cgm-row>
                        <cgm-search-field cgm-label="{{'/cgm/g3/his/dec/decursusSettings.role.label' | i18n}}" span-12
                                       id="roleDropDown"
                                       name="context"
                                       ng-model="visibilitySettingsTemp.roleId"
                                       hx-data-source="rolesDataSource"
                                       id-field="id" label-field="label"
                                       ng-readonly="validationOptions.context.disabled"
                                       allow-clear="true"
                                       placeholder="{{'/cgm/g3/his/epr/DashboardAdministration.PleaseSelect.label' | i18n}}"
                                       cgm-mutable-mode>
                        </cgm-search-field>
                    </cgm-row>
                </div>
                <div class="cgm-col-md-3 vs-column">
                    <h3>{{'/cgm/g3/his/dec/decursusSettings.displayedItems.label' | i18n}}</h3>

                    <cgm-row>
                        <div class="groups-container">
                            <cgm-tree span-12
                                      hierarchy
                                      hx-data-source="groupsDataSource"
                                      key="title"
                                      children="children"
                                      label-function="displayedItemsLabelFunction"
                                      selection-mode="hierarchy"
                                      selection-result-mode="key"
                                      ng-model="visibilitySettings.criteria.groups">
                            </cgm-tree>
                        </div>
                    </cgm-row>
                </div>
                <div class="cgm-col-md-2 vs-column">
                    <h3>{{'/cgm/g3/his/dec/decursusDetails.priority.label' | i18n}}</h3>

                    <cgm-row>
                        <cgm-check-box-group class="vertical">
                            <cgm-check-box id="theCheckbox1" ng-model="visibilitySettings.criteria.priorities[0]" label="<span class='dec-html5-table-priority dec-html5-table-priority-highest'><span class='ico-outline-pi-highest'></span></span> {{'/cgm/g3/his/dec/priority.VERY_IMPORTANT.label'|i18n}}"></cgm-check-box>
                            <cgm-check-box id="theCheckbox2" ng-model="visibilitySettings.criteria.priorities[1]" label="<span class='dec-html5-table-priority dec-html5-table-priority-high'><span class='ico-outline-pi-high'></span></span> {{'/cgm/g3/his/dec/priority.ATTENTION.label'|i18n}}"></cgm-check-box>
                            <cgm-check-box id="theCheckbox3" ng-model="visibilitySettings.criteria.priorities[2]" label="<span style='display: inline-block; width: 26px;'></span> {{'/cgm/g3/his/dec/priority.NORMAL.label'|i18n}}"></cgm-check-box>
                        </cgm-check-box-group>
                    </cgm-row>
                </div>
                <div class="cgm-col-md-2 vs-column">
                    <h3>{{'/cgm/g3/his/dec/decursusSettings.deletedItems.label' | i18n}}</h3>

                    <cgm-row>
                        <cgm-check-box-group class="vertical">
                            <cgm-check-box label="{{'/cgm/g3/his/dec/decursusSettings.displayDelItems.label' | i18n}}" ng-model="visibilitySettings.criteria.includeDeleted"></cgm-check-box>
                        </cgm-check-box-group>
                    </cgm-row>
                </div>
            </div>
        </div>

    </div>

</div>

